# Environment variables
.env

# Dummy/sensitive files
dummy_firebase_key.json
firebase-credentials.json

# Python cache
__pycache__/
*.pyc

# Build artifacts
/dist
/build
*.egg-info

# Virtual environment
venv/

# Logs
server.log
